

label {
    display: block;


    
    input, textarea {
        display: block;
        width: 50%;
        padding: 1em;
        margin-bottom: 20px;
    }

    .error {
        margin-top: -20px;
        background: yellow;
        padding: .5em;
        display: inline-block;
        font-size: .9em;
        margin-bottom: 20px;
    }
}


.cta {
    background: rgb(16, 80, 255);
    border: none;
    color: white;
    width: auto;

    text-transform: uppercase;
    border-radius: .4em;
    padding: 1em;
    cursor: pointer;
    font-family: 'Montserrat';
    margin-right: 2.3vw;
}



.results {
    margin-top: 50px;

    strong {
        display: block;
    }
    span {
        margin-bottom: 20px;
        display: block;
    }
}