<h1>Witaj z powrotem, miło nam znów cię widzieć!</h1>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <label>
      Email:
      <input type="text" formControlName="email">
      <div *ngIf="submitted && loginForm.controls.email.errors" class="error">
        <div *ngIf="loginForm.controls.email.errors.required">Your dish needs a name</div>
      </div>
    </label>
    

    <label>
      Hasło:
      <input type="text" formControlName="password">
      <div *ngIf="submitted && loginForm.controls.password.errors" class="error">
        <div *ngIf="loginForm.controls.password .errors.required">Source path to image is required</div>
      </div>
    </label>

    <input type="submit" value="Zaloguj" class="cta">
    <input type="button" value="Zarejestruj Się" (click)="navigateToRegister($event)" class="cta">
  
  </form>